<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="small tests">
            <directory>./tests/Small</directory>
        </testsuite>
        <testsuite name="medium tests">
            <directory>./tests/Medium</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>./src</directory>
            <exclude>
                <file>./src/DatastoreAuthServiceProvider.php</file>
            </exclude>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-clover" target="build/clover.xml"/>
    </logging>
    <php>
        <env name="DATASTORE_EMULATOR_HOST" value="localhost:8081" />
        <env name="DATASTORE_PROJECT_ID" value="laravel-datastore-auth-test" />
    </php>
</phpunit>
